header{
	justify-content: center;
	text-align: center;
}

main.login-container{
	background: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.2);
	width: 100%;
	max-width: 400px;
	margin: 10rem auto;
	border-radius: 15px;
}

.login-container button{
	margin-bottom: 0.5rem;
	font-weight: bolder;
	font-size: 1rem;
}

.login-container h2{
	text-align: center;
	margin-bottom: 1rem;
}

.remember-me{
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 15px;
}

.remember-me input{
	width: auto;
	margin: 0;
}

.remember-me label{
	margin: 0;
}

.btn-login,
.btn-to-login{
	width: 100%;
}

.signup-link{
	text-align: center;
	margin-top: 0px;
}
.signup-link a{
	color: var(--blue-main);
	text-decoration: none;
	font-weight: bold;
}