main{
	max-width: 600px;
	margin: 40px auto;
	width: 100%;
}

form{
	background: white;
	padding: 30px;
	border-radius: 8px;
}

.field{
	margin-bottom: 15px;
}

#customFields div{
	padding: 15px;
	border-radius: 6px;
	margin-bottom: 15px;
	background: var(--blue-light);
}

.cancel{
	float: right;
}